@import url("https://fonts.googleapis.com/css2?family=Trocchi&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

body {
  // border: 5px solid green;
  // background-color: #ac5683;
  // background-image: url("https://i.pinimg.com/originals/02/b3/3c/02b33c910eb947762a7f9bc4a3ee7bea.gif");
  background-image: url("https://media1.giphy.com/media/4knozU8q9AXvpod9qy/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Share Tech Mono", monospace;
}

.pref-container {
  margin: 40px;
  border-radius: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: linen;
  height: 105vh;
  box-shadow: 1px 1px 11px black;
  opacity: 0.93;
  // background-image: url('https://static.vecteezy.com/system/resources/previews/002/700/749/original/glowing-neon-line-online-dating-app-and-chat-icon-isolated-on-brick-wall-background-international-happy-women-day-illustration-vector.jpg');
  // background-size: cover;
}

.title {
  // margin-top: 100px;
  color: #ac5683;
  // border-color: red;
  font-size: 100px;
  // margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.quote {
  background-color: #fdf3f4;
  border-width: 15px;
  border: 2px solid #d75c77;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 15px;
  box-shadow: 1px 1px 1px #d75c77;
  border-radius: 10px;
  // margin-bottom: 35px;
}

.prefbox {
  margin-top: 20px;
  border-radius: 5px;
  margin-right: 30px;
}

.profile-main-container {
  // margin-top: 400px;
  margin-top: 25px;
  display: flex;
  justify-content: left;
  flex-flow: row wrap;
  margin-left: 165px;
  // margin-top: 10px;
  // margin-bottom: 20px;
}

.profile-box {
  flex: 0 0 calc(25% - 14px);
  margin-right: 7 px;
  border: 2px solid #ea9daa;
  background: #f6d5da;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
button {
  align-items: center;
  background-color: #fdf3f4;
  margin-top: 35px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ea9daa;
  color: white;
}

#connect {
  color: blue;
  font-weight: 100;
}

.submit-form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.login-box {
  display: flex;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
  background-color: #f6d5da;
  padding: 50px;
  border-radius: 50px;

  .Login-container {
    button {
      font-family: "Share Tech Mono", monospace;
    }
    input {
      margin: 20px;
      border: none;
      border-bottom: 3px solid black;
      font-size: 20px;
      background: none;
      color: black;
      font-family: "Share Tech Mono", monospace;
    }
  }
}

.signup-box {
  input,
  select {
    margin: 20px;
    border: none;
    border-bottom: 3px solid black;
    font-size: 20px;
    background: none;
    color: black;
    font-family: "Share Tech Mono", monospace;
  }

  button {
    font-family: "Share Tech Mono", monospace;
  }
}
